<!DOCTYPE html>
<html>
  <head>
    <title>tietokannat</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
		<link href="../../assets/css/slides.css" rel="stylesheet">
		<link href="../../assets/css/tamplr.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://gnab.github.io/remark/downloads/remark-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    <textarea id="source">class: center, middle

# Tietokannoista

.yhdensivunversio[
[Yhden sivun versio](./all.html)
]

---

## Tietokannoista

Tietokannat voidaan karkeasti jakaa kahteen ryhmään:

1. **SQL-tietokannat** eli relaatiotietokannat
    * Data tallennetaan tietokannan *tauluihin*
    * Taulussa on rivejä ja sarakkeita
    * Tauluille on määriteltävä *skeema*, joka määrää millaista dataa
      taulu voi sisältää
    * SQLite, MySQL, PostgreSQL, ...


2. **NoSQL-tietokannat**
    * Tietokantaan voi tallentaa ~mitä tahansa dokumentteja
    * Skeemaa ei tarvitse määrittää
    * MongoDB, Cassandra, Redis, ...

---

## SQL-tietokannat

* SQL-tietokannat koostuvat tauluista
    * Esim. Presidentit-taulu:

| etunimi | sukunimi | vuosi |
|:-----|:-------|:---|
| Sauli | Niinistö | 2012 |
| Tarja | Halonen | 2000 |
| ... | ... | ... |

* Taulun sarakkeet (colums) määrää millaisia arvoja taulu sisältää
* Rivit (rows) ovat tauluun tallennetut data-alkiot

---

## SQL

* SQL on itse asiassa kieli relaatiotietokantojen käsittelyyn
    * Structured Query Language

* Esim.

```sql
SELECT * FROM Presidentit WHERE vuosi > 1990
  ORDER BY vuosi;
```

```sql
INSERT INTO Presidentit (etunimi, sukunimi, vuosi)
  VALUES ('Donald', 'Trump', 2018);
```

* Ei käsitellä SQL:ää tämän enempää
    * SQL-tutoriaaleja mm.
      [Codecademyssa](https://www.codecademy.com/learn/learn-sql) ja
      [W3Schoolissa](http://www.w3schools.com/sql/sql_intro.asp)


---

## ORM

* Tietokannat käsittelyä sovelluksessa voidaan helpottaa kirjastolla
  joka toteuttaa *Object Relational Mapping*:in (ORM)

* Sen sijaan että muodostetaan SQL-lauseita tai kyselyjä,
voidaan käsitellä ohjelmointikielen (esim. JavaScript) olioita

* ORM-kirjasto mäppää olioille tehdyt kutsut tietokantaan

* Esim.

```javascript
Presidentti.findAll({
  where: {vuosi: {$gt: 1990}}
}).then(function(pressat) {
  console.log(pressat);
});
```
---

## MongoDB

* NoSQL
* Dokumenttipohjainen (JSON)
* Taulujen sijaan *collection*

---

## Mongoose

* [Mongoose](http://mongoosejs.com/)
on suosituin mallinnuskirjasto MongoDB:lle Node.js-ympäristöön

* Sen avulla tietokantaa voidaan käsitellä ohjelmointikielen JavaScript olioita

* SQL tietokannoille löytyy vastaava kirjasto Sequelize
  * [Sequelizen dokumentaatio](http://docs.sequelizejs.com/en/latest/)

---

## Mongoose schema ja malli


```javascript
var presidenttiSchema = mongoose.Schema({
    etunimi: String,
    sukunimi: String",
    vuosi: number
});
```

```javascript
var Presidentti = mongoose.model('Presidentti', presidenttiSchema);
});
```

---

## Lisääminen / poistaminen

* Uusi rivi kantaan:

```javascript
Presidentti.create({
  etunimi: "Bernie",
  sukunimi: "Sanders",
  vuosi: 2016
}).then(function (pressa) {
  console.log("Luotiin presidentti: " + pressa.etunimi);
});
```

* Haku (`find` hakee kaikki)

```javascript
Presidentti.find({
  where: {etunimi: "Bernie"}
}).then(function(bernie) {
  if (!bernie) {
    throw "Ei bernietä";
  }
  // Poistetaan rivi tietokannasta
  return bernie.destroy();
});
```

---

## Päivittäminen

* Olioiden attribuutteja voidaan muokata

* Muutokset tallentuvat tietokantaan `save()`-metodilla

```javascript
Presidentti.find({
  where: {etunimi: "Bernie"}
}).then(function(bernie) {
  if (bernie) {
    bernie.etunimi = "Bernard";
    return bernie.save();
  }
  else {
    throw "No bernie, no party";
  }
}).then(function(bernard) {
  console.log("Bernie päivitettiin");
});
```

---

## Mongoose

* Mongoosessa on paljon muitakin ominaisuuksia
    * [Mongoose dokumentaatio](http://mongoosejs.com/)

* Palannemme niihin myöhemmin

* Tähän asti läpi käydylläkin voi tehdä jo aika paljon
    * harjoitus ->

---

<h2 class="harjoitus">Harjoitus</h2>

* Toteutetaan supersankarilomakkeen vastausten tallentaminen
  MongoDB-tietokantaan


---


## MongoDB: luodaan tietokanta

* Kirjaudu MongoDB-konsoliin

```bash
mongo
```

* ... jossa luodaan tietokanta nimeltä `kanta` sekä käyttäjä nimeltä `dev`
salasanalla `dev`

```bash
use kanta
```

```bash
db.createUser({
     user: "dev",
     pwd: "dev",
     roles: [ "readWrite", "dbAdmin" ]})
```

* `Ctrl-D`:llä pääsee pois MongoDB-konsolista


---

## Mongoosen asennus

* Asennetaan Mongoose:

```bash
npm install mongoose --save
```

---

## model.js

* Kun kaikki tarvittava on asennettu voidaan siirtyä toteutukseen

* Luodaan tietokannan käsittelyyn uusi tiedosto `model.js`,
jonka sisältö voi näyttää vaikka tältä:

```javascript
var mongoose = require('mongoose');

// Käytetään MongoDB-tietokantaa
mongoose.connect('mongodb://dev:dev@localhost/kanta');

// Määritellään Vastaus-schema
var vastausSchema = mongoose.Schema({
    nimi: String,
  supersankari: String
});

// Määritellään Vastaus-malli
var Vastaus = mongoose.model('Vastaus', vastausSchema);

// "Exportoidaan" Vastaus-malli jotta sitä voidaan käyttää muualla
exports.Vastaus = Vastaus;
```
---

## Vastauksen tallennus

* Otetaan `Vastaus`-malli käyttöön tiedostossa `index.js` ja muutetaan
  `POST /supersankari` -käsittelijäfunktiota siten, että ennen
  vastaamista tallennetaan vastaus tietokantaan

```javascript
var Vastaus = require('../model.js').Vastaus;
```

```javascript
  app.post("/supersankari", function(req, res) {
    var nimi = req.body.nimi;
    var supersankari = req.body.supersankari;
  
    Vastaus.create({
      nimi: nimi,
      supersankari: supersankari
    }).then(function() {
      res.send(nimi + " " + supersankari);
    },
    function() {
      res.status(500).send("Tietokantavirhe");
    });
  });
```

---

## Vastausten tarkastelu

* Vastausten tarkastelua varten voi luoda vaikkapa uuden näkymän
  `views/vastaukset.ejs` joka sisältää vaikkapa luettelon vastauksista:

```html
<ul>
  <% for(var i=0; i<vastaukset.length; i++) { %>
    <li><%= vastaukset[i].nimi %> vastasi
        että <%= vastaukset[i].supersankari %></li>
  <% } %>
</ul>
```

---

## Vastausten tarkastelu: luodaan uusi reitti


* Tiedostoon `index.js` uusi reitti `/vastaukset` joka hakee vastaukset
  tietokannasta ja renderöi `vastaukset`-näkymän

```javascript
app.get("/vastaukset", function(req, res) {
    Vastaus.find(function (err, vastaukset) {
    if (err) return console.error(err);
    console.log(vastaukset);
    res.render('vastaukset', {vastaukset: vastaukset});  
  });
});
```
</textarea>
    <script>
      "use strict";
      $(document).ready(function() {
        remark.create();
      });
    </script>
  </body>
</html>

