<form action='/register' method="post">
  <input type="text" name="username" placeholder="Käyttäjätunnus">
  <input type="password" name="password" placeholder="Salasana">
  <input type="submit" value="Lähetä">
</form>
